# ================================================
# Игнорировать все папки __pycache__ рекурсивно
**/__pycache__/

# ================================================
# Игнорировать все скомпилированные Python‑файлы
**/*.py[cod]
*$py.class

# ================================================
# Кэш pytest
**/.pytest_cache/